@use '../abstracts/layout';

/* -- footer -- */

/** Sticky footer styles **/
main {
	display: flex;
	flex-direction: column;
	min-height: 70vh;

	.entry-content {
		flex: 1 0 auto;
	}
}

.site-footer {

	@include layout.site-padding;
	background-color: var(--wp--preset--color--accent-1);
	color: var(--wp--preset--color--contrast);
	padding-block: 2rem;
}
