// Specificity required to override margin added by :root :where(.is-layout-flow) > :last-child
.wp-block-post-title.wp-block-post-title.wp-block-post-title {
	margin-block-start: 2rem;
	margin-block-end: 3rem;

	&::after {
		content: '';
		display: block;
		margin-block-start: 1.25rem;
		width: 5rem;
		height: 0.25rem;
		background-color: var(--wp--preset--color--primary);
	}
}
