<!-- wp:group {"metadata":{"name":"Layout"},"className":"site-layout","lock":{"move":true,"remove":true}} -->
<div class="wp-block-group site-layout">

	<!-- wp:template-part {"slug":"nav","className":"site-nav","lock":{"move":true,"remove":true}} /-->

	<!-- wp:group {"tagName":"main","metadata":{"name":"Page"},"lock":{"move":true,"remove":true}} -->
	<main class="wp-block-group site-content">

		<!-- wp:group {"lock":{"move":true,"remove":true}} -->
		<div class="wp-block-group">

			<!-- wp:post-featured-image /-->

			<!-- wp:post-title {"textAlign":"left","level":1} /-->

		</div>
		<!-- /wp:group -->

		<!-- wp:post-content {"lock":{"move":true,"remove":true}} /-->

	</main>
	<!-- /wp:group -->

	<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer","lock":{"move":true,"remove":true}} /-->
</div>
<!-- /wp:group -->